
    body {
      background-color: grey;
    }
    .pictures {
      padding: 2%;
      margin:  29%;
      border: 6px dashed green;
      background-color: black;
    }
    .grid_1 {
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      grid-template-rows: repeat(1, 2fr);
    }
    .motherdragons {
      padding: 5px ;
      grid-column-end: 2;
      grid-column-start: 1;
    }
    .ukrotitledragons {
      padding: 5px ;
      grid-column-start: 2;
      grid-column-end: 3;
     
    }
    .killerdragons {
      grid-row-start: 2;
      grid-column-end: 2;
      grid-column-start:1;
      padding: 5px ;
    }
    .ishak {
      grid-column-end: 3;
      grid-column-start: 2;
      padding: 5px ; 
    }
    img {
      width: 250px;
      height: 210px;
    }